.img1
{
   width: 400px;
   height: 400px;
   max-width: 60vw;
   min-width: 30vw;
   max-height: 60vw;
   min-height: 30vw; 
}

.img2
{
   width: 400px;
   height: 400px;
   object-fit: cover;
   object-position: left top;
}

.img3
{
   width: 400px;
   height: 400px;
   border: 15px outset;
   border-radius: 20px;
}

.img4
{
   width: 400px;
   height: 400px;
   box-shadow: 10px 15px 20px rgba(0.1, 0.1, 0.1, 0.5);
   border-radius: 50px;
}

.img5
{
   width: 600px;
   height: 600px;
   opacity: 0.2;
   position: absolute;
}

.img6
{
   width: 400px;
   height: 400px;
   top: 50%;
   left: 50%;
   transform: translate(25%, 25%);
   z-index: 1;
}


