/* start Aboutus css here */
body {
    font-family: 'futura-pt', 'helvetica', 'sans-serif';
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
}
main {
    padding: 2rem;
}

.about-us {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.team {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.team-member {
    display: inline-block;
    margin: 1rem;
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: bottom;
    bottom: 0;
    width: 100%;
}
/* end about us css here */

/* Start Homepage css */
#home-header
{
   text-align: center;
}

#home_img
{

}
/* End Homepage css */

/* Start Reservations css */
form
{
   background-color: #fff;
   padding: 20px 30px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

form label
{
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
}

form input, form select, form textarea
{
   width: 100px;
   padding: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

form input[type="submit"]
{
   grid-column: span 2;
   background-color: #333;
   color: #fff;
   border: none;
   font-size: 16px;
   padding: 12px;
}

.full-width
{
   grid-column: span 2;
}
